.karmaa-com {
    background-color: #f3fff4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .karmaa-com .div {
    background-color: #f3fff4;
    height: 5369px;
    overflow: hidden;
    position: relative;
    width: 1366px;
  }
  
  .karmaa-com .header-and-navbar {
    height: 771px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1366px;
  }
  
  .karmaa-com .overlap {
    height: 91px;
    left: 470px;
    position: absolute;
    top: 876px;
    width: 426px;
  }
  
  .karmaa-com .text-wrapper {
    color: #048853;
    font-family: "Poppins", Helvetica;
    font-size: 48px;
    font-weight: 600;
    left: 101px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .karmaa-com .p {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 64px;
  }
  
  .karmaa-com .overlap-group {
    background: linear-gradient(
      180deg,
      rgb(0, 151.94, 91.16) 0%,
      rgb(0, 0, 0) 100%
    );
    border-radius: 5px;
    height: 313px;
    left: 93px;
    position: absolute;
    top: 1014px;
    width: 380px;
  }
  
  .karmaa-com .house-wrapper {
    background-color: #ffffff;
    border-radius: 35px;
    height: 70px;
    left: 154px;
    position: absolute;
    top: 59px;
    width: 70px;
  }
  
  .karmaa-com .house {
    height: 57px;
    left: 7px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 57px;
  }
  
  .karmaa-com .rent-your-home-and {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 88px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 141px;
  }
  
  .karmaa-com .overlap-2 {
    background-color: #ffffff;
    border-radius: 5px;
    height: 313px;
    left: 894px;
    position: absolute;
    top: 1014px;
    width: 380px;
  }
  
  .karmaa-com .assets-wrapper {
    background-color: #00975b;
    border-radius: 35px;
    height: 70px;
    left: 154px;
    position: absolute;
    top: 59px;
    width: 70px;
  }
  
  .karmaa-com .assets {
    height: 56px;
    left: 8px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 57px;
  }
  
  .karmaa-com .karma-token-coming {
    color: #00975b;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 107px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 141px;
  }
  
  .karmaa-com .overlap-3 {
    height: 2008px;
    left: 0;
    position: absolute;
    top: 1500px;
    width: 1366px;
  }
  
  .karmaa-com .group {
    height: 729px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1366px;
  }
  
  .karmaa-com .img {
    height: 1253px;
    left: 0;
    position: absolute;
    top: 729px;
    width: 1366px;
  }
  
  .karmaa-com .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 636px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1981px;
  }
  
  .karmaa-com .group-2 {
    height: 783px;
    left: 0;
    position: absolute;
    top: 3509px;
    width: 1366px;
  }
  
  .karmaa-com .overlap-4 {
    height: 741px;
    left: 0;
    position: absolute;
    top: 4359px;
    width: 1366px;
  }
  
  .karmaa-com .mask-group {
    height: 737px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 1366px;
  }
  
  .karmaa-com .rectangle {
    background-color: #00000080;
    height: 741px;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    width: 1366px;
  }
  
  .karmaa-com .need-consultation {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 40px;
    font-weight: 600;
    left: 93px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 158px;
  }
  
  .karmaa-com .text-wrapper-3 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 600;
    left: 93px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 357px;
  }
  
  .karmaa-com .text-wrapper-4 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 139px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 398px;
  }
  
  .karmaa-com .text-wrapper-5 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 139px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 446px;
  }
  
  .karmaa-com .text-wrapper-6 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 139px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 481px;
    white-space: nowrap;
  }
  
  .karmaa-com .text-wrapper-7 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 216px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 559px;
    white-space: nowrap;
  }
  
  .karmaa-com .text-wrapper-8 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 600;
    left: 93px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 519px;
  }
  
  .karmaa-com .vector {
    height: 22px;
    left: 100px;
    position: absolute;
    top: 406px;
    width: 21px;
  }
  
  .karmaa-com .vector-2 {
    height: 16px;
    left: 98px;
    position: absolute;
    top: 484px;
    width: 24px;
  }
  
  .karmaa-com .vector-3 {
    height: 22px;
    left: 90px;
    position: absolute;
    top: 559px;
    width: 24px;
  }
  
  .karmaa-com .group-3 {
    height: 19px;
    left: 131px;
    position: absolute;
    top: 560px;
    width: 26px;
  }
  
  .karmaa-com .akar-icons-instagram {
    height: 24px;
    left: 174px;
    position: absolute;
    top: 558px;
    width: 24px;
  }
  
  .karmaa-com .group-4 {
    height: 21px;
    left: 97px;
    position: absolute;
    top: 445px;
    width: 26px;
  }
  
  .karmaa-com .group-wrapper {
    background-color: #ffffff;
    border-radius: 5px;
    height: 445px;
    left: 693px;
    position: absolute;
    top: 148px;
    width: 580px;
  }
  
  .karmaa-com .div-wrapper {
    height: 342px;
    left: 47px;
    position: relative;
    top: 52px;
    width: 485px;
  }
  
  .karmaa-com .group-5 {
    height: 342px;
    position: relative;
    width: 493px;
  }
  
  .karmaa-com .overlap-group-2 {
    background-color: #c4c4c4;
    height: 75px;
    left: 0;
    position: absolute;
    top: 81px;
    width: 485px;
  }
  
  .karmaa-com .text-wrapper-9 {
    color: #707070;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 35px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 29px;
    white-space: nowrap;
  }
  
  .karmaa-com .overlap-5 {
    background-color: #c4c4c4;
    height: 75px;
    left: 0;
    position: absolute;
    top: 174px;
    width: 485px;
  }
  
  .karmaa-com .overlap-6 {
    background-color: #00975b;
    height: 75px;
    left: 0;
    position: absolute;
    top: 267px;
    width: 485px;
  }
  
  .karmaa-com .text-wrapper-10 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 210px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
  }
  
  .karmaa-com .text-wrapper-11 {
    color: #00975b;
    font-family: "Poppins", Helvetica;
    font-size: 40px;
    font-weight: 600;
    left: 72px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .karmaa-com .overlap-7 {
    background-color: #000000;
    height: 270px;
    left: 0;
    position: absolute;
    top: 5100px;
    width: 1366px;
  }
  
  .karmaa-com .text-wrapper-12 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 504px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 183px;
  }
  
  .karmaa-com .group-6 {
    height: 57px;
    left: 72px;
    position: absolute;
    top: 92px;
    width: 192px;
  }
  
  .karmaa-com .overlap-8 {
    background-color: #ffffff;
    border-radius: 5px;
    height: 313px;
    left: 496px;
    position: absolute;
    top: 1014px;
    width: 380px;
  }
  
  .karmaa-com .town-wrapper {
    background-color: #00975b;
    border-radius: 35px;
    height: 70px;
    left: 151px;
    position: absolute;
    top: 59px;
    width: 70px;
  }
  
  .karmaa-com .town {
    height: 57px;
    left: 7px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 57px;
  }
  
  .karmaa-com .rent-a-house-with {
    color: #00975b;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 104px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 141px;
  }
  