.details-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    background-color: #f3fff4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .details-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: #048853;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .back-button:hover {
    background-color: #036b42;
  }
  