body {
  background-color: #f3fff4;
}

.search-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px; /* Space between the elements */
}

.search-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: left; /* Align labels to the left */
}

.search-form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px; /* Adjust the width as needed */
}

.search-form button {
  padding: 10px 20px;
  background-color: #048853;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #036b42;
}

.results {
  margin-top: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-details {
  padding: 15px;
  text-align: left;
}

.card-details h2 {
  margin: 0;
  color: #048853;
}

.card-details .features {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 14px;
  color: #555;
}

.card-details .description {
  font-size: 12px;
  color: #666;
}

.details-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #048853;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.details-button:hover {
  background-color: #036b42;
}

.menu-logo {
  height: 40px;
  /* Logo yüksekliğini sınırlıyoruz */
  width: auto;
  /* Oranını koruyoruz */
  margin-right: 10px;
}

.menu-bar {
  width: 100%;
  background-color: #048853;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-button {
  background-color: white;
  color: #048853;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-button:hover {
  background-color: #036b42;
  color: white;
}
.rightNav {
  display: flex;
  align-items: center;
  gap: 20px; /* POINTS ve My Account arasında boşluk */
}
